*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: rgb(18, 18, 80);
}
.book-detail{
    height: 550px;
}
.card-body{
    height: 30px;
}
.card-img-top{
    height: 350px;
    padding: 3px;
}
.errMsg{
    color: rgba(255, 0, 0, 0.835);
    text-align: center;
}
.error{
    color: rgba(255, 0, 0, 0.767);
    text-align: center;
}
.found-results{
    color: rgb(224, 143, 88);
    text-align: center;
}